<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>

<div class="center">
    <form method="get" action="javascript: void(0);" id="login-form" class="login-form" autocomplete="off" role="main">
      <h1 class="a11y-hidden">Login Form</h1>
      <div>
        <label class="label-email">
          <input type="email" class="text" name="email" placeholder="Email" tabindex="1" required />
          <span class="required">Email</span>
        </label>
      </div>
      <div>
        <label for="pass">Password (8 characters minimum):</label>
        <input type="password" id="pass" name="password"
               minlength="8" required>
    </div> 
      <input type="submit" value="Log In" >
      <div class="email">
        <a href="#">Forgot password?</a>
      </div>
      {% if error %}
             <div class="alert alert-danger" role="alert">
               <p>Nom d'utilisateur ou mot de passe incorrecte ou compte inactive</p>
             </div>
            {% endif %}
      <figure aria-hidden="true">
        <div class="person-body"></div>
        <div class="neck skin"></div>
        <div class="head skin">
          <div class="eyes"></div>
          <div class="mouth"></div>
        </div>
        <div class="hair"></div>
        <div class="ears"></div>
        <div class="shirt-1"></div>
        <div class="shirt-2"></div>
      </figure>
      <p> Vous n'avez pas encore de compte? <a href={% url 'inscription' %}>S'inscrire</a></p>
    </form>  
  </div>
</body>
</html>